/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 20, 2022, 5:33:56 PM
    Author     : Blandus
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",Arial,sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: 15rem;
    margin-top: 30px;
    font-size: 42px;
    background-color: #2196F3;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 10px 0;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 330px;
    min-width: 350px;
    background: white;
    box-shadow: 5px 6px 15px #c1c1c1;
}
.form *{
    margin: 20px;
}

input{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    max-width: 150px;
    margin: 0 70px;
    text-align: center;
}
label{
    font-size:18px;
}
input[type="number"]:focus-visible{
    outline: none;
}
button{
    padding: 15px 20px;
    background-color: #2196F3;
    color:white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}
.result h2{
margin-bottom: 90px;
background-color: #2196F3;
color:white;
padding: 15px 20px;
border-radius: 5px;
}